.container{
  width:40%;
  border:1px solid;
  margin:auto;
  margin-top: 20%;
  border-radius: 10px;
  mat-form-field{
    width:100%;
  }
  h1{
    text-align: center;
  }
  .row{
    width: 60%;
    margin:auto;
    padding: 20px;
  }
  .spinner-container{
    width: 100px;
    text-align: center;
    margin:auto;
    padding: 20px;
  }
}
